a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  font-size: 1.5rem;
}

.github-logo {
  display: block;
  width: 5rem;
  margin-top: 1rem;
  margin-right: 3rem;
  margin-left: 2.5rem;
}

/* Header */
.header {
  background-color: #010411;
  top: 0;
  width: 100vw;
  height: 7rem;
}

/* Logo */
.logo-text {
  display: none;
}

.rick-logo {
  display: inline-block;
  width: 6rem;
  margin-left: 1rem;
}

/* Nav menu */
.nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--black);
  overflow: hidden;
  text-align: center;
  top: 7rem;
  z-index: +4;
}

.menu .a {
  display: block;
  padding: 25px;
  color: var(--white);
}

.menu a:hover {
  background-color: var(--grey);
}

.nav {
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb {
  cursor: pointer;
  float: right;
  padding: 33px 20px;
  margin-right: 1rem;
}


.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}


.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

@media (min-width: 400px) {

  .logo-text {
    display: inline-block;
    color: #19B8D5;
    text-shadow: 2px 0px cyan;
    font-size: 4.7rem;
    margin-left: 1rem;
    margin-top: .2rem;
    font-family: Schwifty;
  }

  .rick-logo {
    display: none;
  }
}

@media (min-width: 600px) {

  .menu li {
      float: right;
  }

  .menu a:hover {
      background-color: transparent;
      color: var(--grey);
  }

  .logo-text {
    display: inline-block;
    color: #19B8D5;
    text-shadow: 2px 0px cyan;
    font-size: 4.7rem;
    margin-left: 1rem;
    margin-top: .2rem;
    font-family: Schwifty;
  }

  .rick-logo {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav {
      max-height: 7rem;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
  }

  .menu li {
      float: right;
  }

  .menu a:hover {
      background-color: transparent;
      color: var(--grey);
  }

  .hamb {
      display: none;
  }

  .logo-text {
    display: inline-block;
    color: #19B8D5;
    text-shadow: 2px 0px cyan;
    font-size: 4.7rem;
    margin-left: 1rem;
    margin-top: .2rem;
    font-family: Schwifty;
  }

  .rick-logo {
    display: none;
  }
}

@font-face {
  font-family: Schwifty;
  src: url('./../../../assets/fonts/font-medium/get_schwifty.ttf');
}

